<nav>
  <div class="site-title">
    <a href="/"><h1>Student Database</h1></a>
    <p>CRUD web app for Cloud Computing class</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/user/create">Add-Student</a></li>
  </ul>
</nav>