<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/user/create" method="POST">
      <label for="name">Full Name:</label>
      <input type="text" id="title" name="name" required>
      <label for="email">Email:</label>
      <input type="email" id="snippet" name="email" required>
      <label for="password">Year of Study:</label>
      <input type="number" name="password" id="pwd" required>
      <label for="address">Date of Birth:</label>
      <input type="date" name="address" id="address" required>

     <div class="sub">
      <button type="submit">Submit</button>
     </div> 
    </form>
  </div>

</body>
</html>